* {
    padding: 0;
    margin: 0;
}

img {
    height: 200px;
    border-radius: 100%;
    border: solid 5px rgb(147, 168, 133);
}

body {
    background-color: rgb(184, 206, 169);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/*Daqui para cima, apenas definindo um estilo padrão para toda a página*/

header {
    padding: 20px 0px 40px 0px;
    text-align: center;
}

/*Adicionando formatação para o cabeçalho ficar mais confortável visualmente*/

nav ul,
main div {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

main {
    padding: 50px;
    padding-bottom: 0px;
}

div,
menu {
    margin-bottom: 20px;
    border-bottom: solid 2px rgb(161, 182, 148);
}

main div section {
    width: auto;
    height: 70%;
}

main div section img {
    width: 70%;
}

section,
ul,
h2 {
    margin-bottom: 20px;
}

/*Daqui para cima, correções pequenas para a interface ficar mais espaçada, alinhada e encaixada como desejava*/

footer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*Centralizando o conteúdo do rodapé*/

@media (max-width: 768px) {
    main div section img {
        height: auto;
    }

    /*Deixando a logo adaptavel para ocupar pouco espaços nas variadas telas*/

    main {
        justify-content: center;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    main div section {
        width: 70%;
        height: auto;
    }

    main div,
    menu {
        display: flex;
        flex-wrap: wrap;
    }

    menu img {
        height: 55pt;
    }

    menu {
        display: flex;
        justify-content: center;
    }

    menu ul li {
        margin: 10px;
    }

    menu nav ul {
        display: contents;
    }

    /*Fazendo com que o menu e main se alinhem diferentemente para melhor adaptar à telas de celular*/
}

/*Responsividade para telas verticalizadas*/

@media (max-height: 400px) {
    menu header {
        width: auto;
    }

    main div section img {
        height: auto;
    }

    /*Deixando a logo adaptavel para ocupar pouco espaços nas variadas telas*/

    main {
        justify-content: center;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    main div section {
        width: 70%;
        height: auto;
    }

    main div,
    menu {
        display: flex;
        flex-wrap: wrap;
    }

    menu img {
        height: 55pt;
    }

    menu {
        display: flex;
        justify-content: center;
    }

    menu ul li {
        margin: 10px;
    }

    menu ul {
        display: flex;
    }

    #SB {
        border-bottom: 0px;
        padding: 10px;
    }

    #SB ul {
        display: grid;
        grid-template-rows: max-content max-content max-content;
        text-align: right;
    }

    menu header,
    menu nav {
        padding: auto;
        margin: auto;
    }

    /*Fazendo com que o menu e main se alinhem diferentemente para melhor adaptar à telas de celular*/
}

/*Responsividade para telas menores e horizontalizadas*/